body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-family: calibri;
}

.container {
    width: 1024px;
    margin: auto;

}

.section-header h2 {
    margin: 0.5%;
    display: inline-block;
    text-transform: uppercase;
}

.shop-item {
    width: 22%;
    margin: 1%;
    font-size: 14px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: white;
    color: #1f1f21;
    display: inline-block;
    position: relative;
}

.shop-item-img {
    width: 100%;
    margin-top: 4%;
}

.sale-marker {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #98b827;
    color: white;
    text-shadow: 0px 1px 1px #1f1f21;
    text-align:center;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 45px;
}

.add-to-cart {
    background-color: #828282;
    color: white;
    text-shadow: 1px 1px 1px #1f1f21;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border: 1px ridge #9a9a9a;
    border-radius: 5px;
    display: inline-block;
    margin: 0.7%;
    font-size: 12px;
}

.price {
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
}

.price-button {
    position: relative;
    padding: 4%;
    border-bottom: 1px solid #e7e7e7;
}

.name-description {
    padding: 4%;
    padding-top: 3%;
}

.view-the-product {
    display: block;
    margin: 4%;
    color: #98b827;
    text-decoration: none;
}

.view-the-product::after{
    content: " >";
    color: #828282;
}

.view-the-product:hover {
    text-decoration: underline;
}

.item-name {
    margin: 1%;
    font-weight: 200;
}

.item-description {
    margin: 1%;
    color: #7b7b7b;
}

.prev-next-buttons {
    display: inline-block;
}

.nav-button {
    background-color: #98b827;
    width: 23px;
    height: 23px;
    padding: 2px;
    border: 1px solid #dadada;
    border-radius: 6px;
    color: white;
    text-shadow: 0px 1px 1px gray;
    text-align: center;
}

.nav-button:hover {
    background-color: #80aa2f;
}

.check-our-brands ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

.check-our-brands li{
    display: inline-block;
    padding: 0;
    width: 18%;
    margin: 0;
}

.check-our-brands img{
    width: 100%;
}

.check-our-brands h2{
    margin: 0.5%;
    display: inline-block;
    text-transform: uppercase;
}

/*   Recent posts   ===============================================================*/

.recent-posts {
}

.recent-post {
    display: table;
    border: 1px solid gray;
    border-radius: 8px;
    width: 200px;
    margin-top: 10px;
}

.recent-post>.left {
    height: 66px;
    width: 66px;
    display: table-cell;
    float: left;
}

.recent-post>.right {
    width: 130px;
    height: 66px;
    display: table-cell;
    float: right;;
}


.recent-post img {
    width: 66px;
    height: 66px;
    border-radius: 10px;
}

.recent-post h4 {
    margin: 3px;
}


.contacts {
    width: 300px;
    margin: 10px;
    display: inline-block;
}

/*    What people say   =============================================*/

.comments {
    width: 200px;
}

.comment {
    display: table;
    position: relative;
}

.comment h4 {
    margin: 0;
    text-align: center;
}

.comment p {
    heigh: 85px;
}


.comment>.left {
    padding: 0;
    width: 60px;
    height: 70px;
    display: table-cell;
}

.comment>.right {
    width: 229px;
    padding: 5px;
    height: 85px;
    display: table-cell;
    float: right;
    left: 60px;
    background-image: url(images/comments/comment-bg.png);
    background-size: 100%;
}

.footer-wrapper {
    background-color: white;
    border-top: 1px solid lightgray;
}

.footer {
    margin: auto;
    display: table;
    width: 1024px;
}

.footer>div {
    display: table-cell;
    width: 220px;
}

.logo-socials>img {
    width: 90%;
}

.page-footer {
    background-color: black;
    border-top: 3px solid greenyellow;
    height: 20px;
    margin-top: 20px;
}

.page-footer>div {
    color: white;
    margin: auto;
    width: 1024px;
}

.page-footer .links {
    float: left;
}

.page-footer .copyright {
    float: right;
}

.links a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: greenyellow;
}