


.check-our-brands ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

.check-our-brands li{
    display: inline-block;
    padding: 0;
    width: 18%;
    margin: 0;
}

.check-our-brands img{
    width: 100%;
}

.check-our-brands h2{
    margin: 0.5%;
    display: inline-block;
    text-transform: uppercase;
}

.recent-posts{
    width: 300px;
    margin: 10px;
    display: inline-block;
}

.recent-posts ul{
    padding: 0;
    margin: 1%;
}

.recent-posts li{
    margin: 3px;
    display: block;
    border: 1px solid gray;
    border-radius: 8px;
}

.recent-posts img{
    display: inline-block;
    border-radius: 10px;
}

.recent-posts div{
    display: inline-block;
}

.recent-posts h4{
    margin: 1%;
}

.contacts {
    width: 300px;
    margin: 10px;
    display: inline-block;
}

.what-people-say {
    width: 330px;
    margin: 10px;
    display: inline-block;
}

.what-people-say ul {
    padding: 0;
}

.what-people-say li{
    display: block;
}

.what-people-say h4 {
    margin: 1%;
    text-align: center;
}

.what-people-say p {
    float: right;
    display: inline-block;
    margin: 1%;
}

.what-people-say div {
    display: inline-block;
}

.what-people-say text{
    float: right;
}
.social{

    height: 40px;
    width: 40px;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: 5px;
}