.fb
{
    background: #CFCFCF url(images/fb.png) no-repeat 12px 9px;
}
.p
{
    background: #CFCFCF url(images/p.png) no-repeat 9px 8px;
}
.twitter
{
    background: #CFCFCF url(images/twitter.png)no-repeat 8px 8px;
}
.media
{
    background: #CFCFCF url(images/media.png) no-repeat 8px 8px;
}
.ball
{
    background: #CFCFCF url(images/ball.png) no-repeat 6px 6px;
}